@model IEnumerable<Club>
 

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,900">
  <style>
    @@media (min-width: 450px) {
      .col-xs-12 {
        width: 50%;
      }
    }
    @@media (min-width: 760px) {
      .col-xs-12 {
        width: 33.33%;
      }
    }
    @@media (min-width: 900px) {
      .col-xs-12 {
        width: 25%;
      }
    }
    .wrapper {
      display: table;
      height: 100%;
      width: 100%;
    }

    .container-fostrap {
      display: table-cell;
      padding: 1em;
      text-align: center;
      vertical-align: middle;
    }

    .fostrap-logo {
      width: 100px;
      margin-bottom: 15px;
    }

    h1.heading {
      color: #fff;
      font-size: 1.15em;
      font-weight: 900;
      margin: 0 0 0.5em;
      color: #505050;
    }

    .card {
      display: block; 
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
    }

    .card:hover {
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .img-card {
      width: 100%;
      height: 200px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      display: block;
      overflow: hidden;
    }

    .img-card img {
      width: 100%;
      height: 200px;
      object-fit: cover; 
      transition: all .25s ease;
    } 

    .card-content {
      padding: 15px;
      text-align: left;
    }

    .card-title {
      margin-top: 0px;
      font-weight: 700;
      font-size: 1.65em;
    }

    .card-title a {
      color: #000;
      text-decoration: none !important;
    }

    .card-read-more {
      border-top: 1px solid #D4D4D4;
    }

    .card-read-more a {
      text-decoration: none !important;
      padding: 10px;
      font-weight: 600;
      text-transform: uppercase;
    }
  </style>
</head>
<body>
  <section class="wrapper">
    <div class="container-fostrap">
      <div class="content">
        <div class="container">
          <div class="row">
            <h1 class="heading" style="font-size: 50px;">Club List</h1>
            @foreach(var item in Model)
            {
            <div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <a class="img-card"><img src="@item.Image" /> </a>
                <div class="card-content">
                  <p style="font-size: 22px;" class="card-title"><a >@item.Title </a></p>
                  <h5><a> @item.ClubCategory</a></h5>
                  <p>
                    @item.Description
                  </p>
                </div>
                <div class="card-read-more">
                  <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-link btn-block">
                    Read More
                  </a>
                  @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                  {
                  <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link btn-block">
                    Edit
                  </a>
                  <a asp-controller="Club" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link btn-block">
                      Delete
                  </a>
                  }
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

